<a href="https://colab.research.google.com/github/JackMayr2/HandsOn_ML/blob/master/AssocAnalysisAssign1_Mayr_Jack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement the a priori algorithm. Apply to datasets indicated in code below.
You may work togehter, but you should make your own code. Share ideas about data structures and flow.

**A priori algorthm**

```
F_k: frequent k-itemsets

L_k: candidate k-itemsets

Algorithm
* Let k=1
* Generate F_1 = {frequent 1-itemsets}
* Repeat until F_k is empty
 * Candidate Generation: Generate L_(k+1) from F_k
 * Candidate Pruning: eliminate candidate itemsets in L_k+1 containing subsets of length k that are infrequent 
 * Support Counting: Count the support of each candidate in L_(k+1) by scanning the DB (or use a more efficient hash method)
 * Candidate Elimination: Eliminate candidates in L_(k+1) that are infrequent, leaving only those that are frequent => F_(k+1)
```

In [ ]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 20.2 MB/s
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.19.0

In [ ]:
#Functions and imports
#I had functions for candidate generation, candidate pruning, support count, and candidate elimination.
from csv import reader
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth

In [ ]:
#Main program. Some things below you may or may not want.


if __name__ == "__main__":

  #Transaction file name
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/GroceryStoreStacked.csv'
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/GroceryStoreStacked_sub.csv'
  #trans_file_name = '/content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/Table_5_1.txt'
  trans_file_name = '/content/drive/My Drive/CSC373_DMP_Mayr_Jack/DMP_Association_Analysis/Assoc_Analysis_Vidhya.dat.csv'


  print("Transaction file:", trans_file_name)
  #Set min_sup
  MIN_SUP = 2
  print("\nmin_sup",MIN_SUP)

  #My overall code flow followed the algorithm. I did build in some efficiencies
  #  for candidate generation.

Transaction file: /content/drive/My Drive/CSC373_DMP_Mayr_Jack/DMP_Association_Analysis/Assoc_Analysis_Vidhya.dat.csv

min_sup 2

In [ ]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.str)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df = pd.read_csv(trans_file_name, delimiter=',')
df = df.iloc[: , 1:]
df = clean_dataset(df)
# User list comprehension to create a list of lists from Dataframe rows
data_list = [list(row) for row in df.values]
# Print list of lists i.e. rows
print(data_list)
#data_matrix = pd.read_csv(trans_file_name)

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(data_list).transform(data_list)
df = pd.DataFrame(te_ary, columns=te.columns_)

frequent_itemsets = fpgrowth(df, min_support=0.5, use_colnames=True)

In [ ]:
frequent_itemsets

In [ ]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

         antecedents     consequents  ...  leverage  conviction
0             (Wine)          (Meat)  ... -0.013125      0.9250
1             (Meat)          (Wine)  ... -0.013125      0.8250
2             (Wine)        (Cheese)  ...  0.036875      1.2950
3           (Cheese)          (Wine)  ...  0.036875      2.4750
4           (Cheese)          (Meat)  ... -0.005625      0.9625
..               ...             ...  ...       ...         ...
113          (Bagel)        (Cheese)  ... -0.052500      0.7000
114          (Bagel)          (Meat)  ... -0.052500      0.7000
115    (Wine, Bagel)        (Cheese)  ... -0.015625      0.8750
116  (Cheese, Bagel)          (Wine)  ...  0.014375      1.5750
117          (Bagel)  (Wine, Cheese)  ... -0.060000      0.7000

[118 rows x 9 columns]

Some output - I think it is correct, but if you find problems, let me know

```
Transaction file: /content/drive/MyDrive/CS Classes/CSC_373_Data_Mining/CSC_373_Student_Files/Data/Table_5_1.txt

min_sup 2

Number of transactions: 5

Candidate 1-itemset has 6 items.
{'Bread': 4, 'Milk': 4, 'Beer': 3, 'Diapers': 4, 'Eggs': 1, 'Cola': 2}

Pruned 1-itemset is the same as the eliminated 1-itemset.

Eliminated 1-itemset has 5 items.
{'Bread': 4, 'Milk': 4, 'Beer': 3, 'Diapers': 4, 'Cola': 2}

Candidate 2-itemset has 10 items.
{'Bread,Milk': 0, 'Beer,Bread': 0, 'Bread,Diapers': 0, 'Bread,Cola': 0, 'Beer,Milk': 0, 'Diapers,Milk': 0, 'Cola,Milk': 0, 'Beer,Diapers': 0, 'Beer,Cola': 0, 'Cola,Diapers': 0}

Pruned 2-itemset has 10 items.
{'Bread,Milk': 0, 'Beer,Bread': 0, 'Bread,Diapers': 0, 'Bread,Cola': 0, 'Beer,Milk': 0, 'Diapers,Milk': 0, 'Cola,Milk': 0, 'Beer,Diapers': 0, 'Beer,Cola': 0, 'Cola,Diapers': 0}

Eliminated 2-itemset has 8 items.
{'Bread,Milk': 3, 'Beer,Bread': 2, 'Bread,Diapers': 3, 'Beer,Milk': 2, 'Diapers,Milk': 3, 'Cola,Milk': 2, 'Beer,Diapers': 3, 'Cola,Diapers': 2}

Candidate 3-itemset has 10 items.
{'Beer,Bread,Milk': 0, 'Bread,Diapers,Milk': 0, 'Bread,Cola,Milk': 0, 'Beer,Bread,Diapers': 0, 'Bread,Cola,Diapers': 0, 'Beer,Diapers,Milk': 0, 'Cola,Diapers,Milk': 0, 'Beer,Cola,Milk': 0, 'Beer,Cola,Diapers': 0, 'Beer,Bread,Cola': 0}

Pruned 3-itemset has 5 items.
{'Beer,Bread,Milk': 0, 'Bread,Diapers,Milk': 0, 'Beer,Bread,Diapers': 0, 'Beer,Diapers,Milk': 0, 'Cola,Diapers,Milk': 0}

Eliminated 3-itemset has 4 items.
{'Bread,Diapers,Milk': 2, 'Beer,Bread,Diapers': 2, 'Beer,Diapers,Milk': 2, 'Cola,Diapers,Milk': 2}

Candidate 4-itemset has 4 items.
{'Beer,Bread,Diapers,Milk': 0, 'Bread,Cola,Diapers,Milk': 0, 'Beer,Cola,Diapers,Milk': 0, 'Beer,Bread,Cola,Diapers': 0}

Pruned 4-itemset has 0 items.
{}

Eliminated 4-itemset has 0 items.
{}
END

```